@import 'src/sass/_variables.scss';

.input {
    font-family: inherit;

    &::placeholder {
        color: $font-color-grey-light;
    }

    &:focus {
        outline: none;
    }

    &--workout-name {
        border: none;
        font-size: 2.4rem;
    }
}
