@import 'src/sass/variables.scss';

.btn {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    font-weight: 700;

    &--icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--workout-form {
        width: 100%;
        border-radius: $border-radius-default;
        padding: 0.4rem;
    }

    &--add-set {
        background-color: $color-green;
        margin-top: 1.6rem;
    }
    &--remove-set {
        background-color: #ffa8a8;
    }

    &--add-exercise {
        display: none;
        background-color: $color-primary-light;
    }

    &--create-exercise {
        background-color: $color-primary-light;
        border-radius: $border-radius-default;
        padding: 0.4rem;
        width: 100%;

        grid-column: 1/-1;
    }

    &:hover {
        filter: brightness(90%);
    }
}

@media (max-width: $small-laptop-width) {
    .btn--add-exercise {
        display: inline-block;
    }
}
