@import 'src/sass/_variables.scss';

.addExerciseList {
    border: 0.2rem solid $color-primary;
    border-radius: $border-radius-default;
    background-color: $color-white;
    padding: 2rem;
    width: 60%;

    position: absolute;

    &Header {
        display: grid;
        grid-template-columns: 60fr 40fr;
        column-gap: 1.2rem;
        row-gap: 1.2rem;

        .headerTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;

            grid-column: 1/-1;
        }

        .bodyPartFilter {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (min-width: $small-laptop-width) {
    .addExerciseList {
        display: none;
    }
}
