@import 'src/sass/_variables.scss';

.createWorkoutSection {
    .workoutForm {
        position: relative;
        justify-items: center;
        align-items: start;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: $small-laptop-width) {
    .workoutForm {
        display: flex !important;
        justify-content: center;
    }
}
